<div class="container mt-5">
  <div
    *ngIf="alertaError"
    class="alert alert-warning alert-dismissible fade show"
    role="alert"
  >
    {{ alertaError }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <div
    *ngIf="alerta"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    {{ alerta }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <div *ngIf="!estado" class="text-center">
    <img src="../../../assets/img/Cargando.gif" alt="Cargando..." />
  </div>
  <div class="flex" *ngIf="estado">
    <div class="card text-center producto" style="width: 18rem">
      <div class="text-center">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Drum_set.svg/1200px-Drum_set.svg.png"
          style="height: 200px; width: 200px"
          alt=""
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Producto</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Nombre: {{ prodSucursal.producto.nombre }}
        </h6>
        <p class="card-text">Marca: {{ prodSucursal.producto.marca }}</p>
        <p class="card-text">
          Descripción: {{ prodSucursal.producto.descripcion }}
        </p>

        <p class="card-text fw-bold">
          Precio: ${{ prodSucursal.producto.precio | number }}
        </p>
      </div>
    </div>

    <div class="card sucursales" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Disponibilidad</h5>
        <div *ngFor="let item of prodSucursal.sucursales" class="sucursal">
          <p class="card-text disponibilidad">
            <span>{{ item.nombre }}</span>
            <span>Stock: {{ item.stock }}</span>
          </p>
          <hr />
        </div>
      </div>
    </div>
    <div class="comprar card">
      <div class="cantidad">
        <label for="cantidad">Cantidad:</label>
        <input
          class="form-control"
          type="number"
          id="cantidad"
          name="cantidad"
        />
        <label for="sucursal">Sucursal:</label>
        <select id="sucursal" class="form-select" name="sucursal">
          <option *ngFor="let item of prodSucursal.sucursales">
            {{ item.nombre }}
          </option>
        </select>
      </div>
      <button (click)="comprarProducto()" class="btn btn-success">
        Comprar
      </button>
    </div>
  </div>
</div>
